* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    min-height: 100%;
}

html {
    font-size: 62.5%; // 62.5% z 16px = 10px;
}

body {
    @include rem(1.4);

    font-family: 'Roboto', sans-serif;
    background-color: $color-bckg;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #3095F6;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

input {
    height: 36px;
    padding: 3px 15px;
    border: 0;
    border-radius: 8px;
    
}

input:focus {
    outline: none;
}